h1 {
  color: blue;
  font-size: 40px;
  border: 1px solid black;
  padding: 10px;
  background-color: black;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 20px 0;
}

.green-header {
  color: green;
  text-align: center;
  letter-spacing: 3px;
}

p {
  font-size: 15px;
  line-height: 2;
}

li,
p {
  font-weight: bold;
}

.image {
  height: 100px;
  width: 80%;
}

img {
  width: 100%;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.5);
}

div {
}

.done {
  text-decoration: line-through;
}

a {
  color: green;
}

a:hover {
  color: red;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #000;
}

.container {
  width: 600px;
  margin: 10px auto 20px auto;
  overflow: auto;
  padding-top: 20px;
  background-color: white;
  border: 10px solid #ff9500;
}
